.navbar {
  background-color: transparent !important;
  // height: 60px;

  overflow: hidden;



  .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;

    &:hover{
      color: white !important;
    }
  }

  ul {
    li {
      .btn {
        color: black !important;
        background: white !important;
        cursor: pointer;
        border-radius: 3px !important;
      }
    }
  }
}
